.posts {
  padding: 100px 100px 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 160px;
  row-gap: 200px;
}

.posts_info {
  display: grid;
  grid-template-rows: 20px 90px auto auto 62px;
  grid-template-columns: 1fr;
  row-gap: 50px;
  justify-items: center;
  align-items: start;
  text-align: center;
}

.info_date {
  font-family: var(--desk-font);
  font-size: 18px;
}

.info_title {
  font-family: var(--titles-font);
  font-size: 38px;
  text-transform: uppercase;
  letter-spacing: 5px;
}

.info_description {
  font-family: var(--desk-font);
  font-weight: 200;
  font-size: 20px;
  line-height: 2;
  letter-spacing: 1px;
}

.info_img {
  transition: transform 0.5s ease;
  width: 100%;
}

.info_link {
  font-family: var(--titles-font);
  font-size: 18px;
  text-transform: uppercase;
  border: 2px solid black;
  padding: 20px 40px;
  transition: border-color 0.3s ease, color 0.3s ease;
}
