_.contacts {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: auto;
  border-left: 1px solid rgba(128, 128, 128, 0.613);
  align-items: center;
}

.contacts div {
  display: flex;
  padding: 65px 100px;
  border-bottom: 1px solid rgba(128, 128, 128, 0.613);
}

.contacts div:last-child {
  border-bottom: 0;
}

.contacts span {
  display: block;
  font-family: var(--titles-font);
  font-size: 18px;
  text-transform: uppercase;
  color: grey;
  width: 100px;
  margin-right: 100px;
}

.contacts__social {
  display: flex;
  align-items: center;
}

.contacts__detail-info {
  font-family: var(--titles-font);
  font-size: 18px;
  color: rgba(128, 128, 128, 0.94);
  transition: color 0.3s ease;
}

.contacts__social img {
  background-color: rgba(128, 128, 128, 0.507);
  border-radius: 50%;
  margin-right: 15px;
  transition: background-color 0.3s ease;
}

@media (max-width:768px) {
  .contacts div {
    padding: 25px 50px;

  }

  .contacts__social img {
    width: 40px;
  }

}

@media (max-width:480px) {
  .contacts__social img {
    width: 32px;
  }

  .contacts span {
    margin-right: 30px;

  }
}