@import url(intro/intro.css);
@import url(logo/logo.css);
@import url(header/_nav/header_nav.css);
@import url(main/_story/main_story.css);
@import url(main/_posts/main_posts.css);
@import url(main/_posts--hover/main_posts--hover.css);
@import url(main/_pages/main_pages.css);
@import url(main/_pages--hover/main_pages--hover.css);
@import url(footer/footer.css);
@import url(footer/_form/footer_form.css);
@import url(footer/_contacts/footer_contacts.css);
@import url(footer/_contacts/_contacts--hover/footer_contacts--hover.css);

:root {
  --titles-font: "Source Sans 3", sans-serif;
  --desk-font: "Merriweather", sans-serif;
}

.parallax {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../../images/background-image.jpg");
  background-size: cover;
  z-index: -1;
}
.header .container {
  margin: 120px auto 0;
  background-color: inherit;
}

.container {
  max-width: 83%;
  margin: 0 auto;
  background-color: white;
}
