.logo {
  display: block;
  max-width: 250px;
  padding: 10px 15px;
  margin: 100px auto 0;
  font-size: 60px;
  font-family: var(--titles-font);
  color: white;
  border: 6px solid white;
  text-transform: uppercase;
  letter-spacing: 3px;
  transform: translateY(30px);
  transition: opacity 0.5s ease, transform 0.5s ease;
}

.logo.hidden {
  transform: translateY(0);
  opacity: 0;
  cursor: default;
}