.intro {
  width: auto;
  margin: 0 auto;
  text-align: center;
  margin-top: 200px;
  cursor: default;
  opacity: 0;
  transform: translateY(40px);
  transition: opacity 1s ease-out, transform 1s ease-out;
}

.visible {
  opacity: 1;
  transform: translateY(0);
}

.intro h1 {
  font-family: var(--titles-font);
  color: white;
  font-size: 112px;
  margin-bottom: 25px;
}

.intro p {
  font-family: var(--desk-font);
  font-style: italic;
  color: white;
  font-size: 32px;
  line-height: 2;
}