.posts {
  padding: 100px 100px 0;
  display: grid;
  grid-template-columns: repeat(2, minmax(30%, 45%));
  column-gap: 160px;
  row-gap: 200px;
}

.posts_info {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 1fr;
  row-gap: 50px;
  justify-items: center;
  align-items: start;
  text-align: center;
}

.posts_info:hover .info_img {
  will-change: transform;
}

.info_date {
  font-family: var(--desk-font);
  font-size: 18px;
  height: 30px;
}

.info_title {
  min-height: 150px;
  font-family: var(--titles-font);
  font-size: 38px;
  text-transform: uppercase;
  letter-spacing: 5px;
}

.info_description {
  font-family: var(--desk-font);
  font-weight: 200;
  font-size: 20px;
  line-height: 2;
  letter-spacing: 1px;
  min-height: 200px;
}

.info_img {
  transition: transform 0.5s ease;
  width: 100%;
}

.info_link {
  font-family: var(--titles-font);
  font-size: 18px;
  text-transform: uppercase;
  border: 2px solid black;
  padding: 20px 40px;
  transition: border-color 0.3s ease, color 0.3s ease;
}

@media (max-width:1200px) {
  .posts {
    column-gap: 60px;
  }

  .info_title {
    font-size: 28px;
  }

  .info_description {
    font-size: 18px;
  }
}

@media (max-width:992px) {
  .posts {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 100px;
  }

  .posts_info {
    row-gap: 30px;
  }

  .info_title {
    min-height: 0;
  }

  .info_description {
    min-height: 0;
  }
}

@media (max-width:768px) {
  .posts {
    padding: 30px;
  }
}