.footer_form {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin-left: 80px;
}

.footer_form label {
  margin: 20px 0;
  font-size: 18px;
  font-family: var(--titles-font);
  color: grey;
}

.form_input {
  width: 100%;
  padding: 20px;
  font-size: 24px;
  border: 1px solid rgba(128, 128, 128, 0.467);
}

textarea {
  resize: none;
}

.form_input:focus {
  border-color: rgb(73, 206, 235);
}

.form_send {
  width: 230px;
  font-size: 18px;
  padding: 15px 50px;
  margin-top: 40px;
  font-family: var(--titles-font);
  text-transform: uppercase;
  border: 2px solid grey;
  color: grey;
}