.header__nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: rgba(83, 83, 83, 0.593);
}

.section-list {
  display: flex;
  width: 50%;
  font-size: 18px;
  font-family: var(--titles-font);
  text-transform: uppercase;
  text-align: center;
  color: white;
  cursor: pointer;
}

.section-list li {
  padding: 37px 40px;
  transition: background-color 0.2s ease;
}

.active {
  background-color: white;
  color: #000;
  cursor: default;
}

.section-list li:not(.active):hover {
  background-color: rgba(255, 255, 255, 0.069);
}

.links {
  display: flex;
  width: 20%;
  justify-content: space-evenly;
  align-items: center;
}

@media (max-width:1200px) {
  .section-list li {
    padding: 10px 12px;
  }

  .links {
    width: auto;
  }
}

@media (max-width:768px) {
  .header__nav {
    flex-direction: column;
    gap: 10px;
  }

  .section-list {
    width: 100%;
  }
}