.footer {
  padding-bottom: 200px;
}

.footer_info {
  display: grid;
  grid-template-columns: repeat(2, 50%);
  padding-top: 100px;
}

@media (max-width:1200px) {
  .footer_info {
    display: flex;
    flex-direction: column;
  }
}